//
// InpageNavBar component styles
//
nav.inpage-nav-bar {

  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);

  position: fixed;
  margin:0; padding: 0;
  background: #fff;
  display: block;
  width: 100%;
  top: 0;
  z-index:300;

  > ul {
    margin:0; padding:0;

    > li {
      display: block;
      list-style: none; padding: 0; margin: 0;
      height: 48px;
      float:left; width: 33.33333%;
      text-align:center;
      text-transform: uppercase;

      > a {
        display: block;
        line-height: 48px;
        color: $zalando-orange;
        font-size:18px;
        text-decoration: none;

        &.active {
          color: #fff;
          background-color: $zalando-orange;
          transition: background-color 300ms linear;
        }
      }
    }
  }
}

@media(max-width:480px) {
  nav.inpage-nav-bar > ul > li > a {
    font-size: 13px;
  }
}
