//
// Variables
//

// colors
$zalando-orange: #f16a21;
$zalando-dark-grey: #5e5e5e;
$zalando-darken-grey: rgb(51,51,51);

$repos-section-background: #f2f2f2;
$light-gray: #808080;
$lighten-gray: #9c9c9c;

// paths
$image-path: '../images';

// Import Source Sans Pro
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

//
// App Layout
//
body, html {
  font-family: 'Source Sans Pro', Helvetica,Arial, "Lucida Grande",sans-serif;
}

hr {
  max-width: 70px;
  border-color: #F16A21;
  border-width: 3px;
}


.main-container {
  padding-top: 54px;
}

.section {
  padding-top: 38px;
  padding-bottom: 38px;
}

.loader {
  text-align: center;
}
