//
// Variables
//

// colors
$zalando-orange: #f16a21;


//
// App Layout
//
body, html {
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.main-container {
  padding-top: 54px;
}
