//STATS
.stats-container {
  background: rgba(0,0,0, 0.75);
  position: absolute;
  top: 0; left:0;
  height: 100%;
  width: 100%;
  padding: 18px;
}

.stats-claim-container {
  margin-bottom: 36px;
  h1, h2 { font-weight: 600;}
  h1 {color: #fff; margin-top:0;}
  h2 { color: $zalando-orange; margin-top:0;}
}
.stat {
  color:#fff;
  margin-bottom: 28px;
}

.stat-label-icon {
  vertical-align: middle;
}

.stat-label-text {
  vertical-align: middle;
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  padding-left:6px;
}

.stat-count {
  font-size: 22px;
  font-weight: 300;
}


// Responsive adjustments
// Smart-phone Landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .stats-claim-container {
    margin-top: 22px;
  }
}

// From tablet and above
@media (min-width: $screen-sm-min) {
  .stats-container {
    padding: 36px;
  }

  .stats-container-main-row, .stats-container-main-cols {
    height: 100%;
  }

  .stats-claim-container {
    position: relative;
    top: 50%;
    margin-top: -64px;

    h1 { font-size: 58px }
    h2 { font-size: 36px}
  }

  .stats-labels-main-row {
    margin-top: 68px;
  }
}

// From Desktop and above
@media (min-width: $screen-md-min) {
  .stats-claim-container {
    margin-top: -88px;
    h1 { font-size: 88px }
  }
}


