//STATS
.section-heading { // FIXME - global (mybe section-heading is a component that we can reuse)
  margin: 20px;
  text-transform: uppercase;
  color: #F16A21;
  font-size: 1.3em;
}

hr { // FIXME - global
  max-width: 70px;
  border-color: #F16A21;
  border-width: 3px;
}

.stat {
  margin:30px;

  i {
    font-size: 2.5em;
  }

  h2, h4 {
    display:block;
  }

  h2 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 0.75em;
    font-weight: 350;
  }
}

/* Extra Small Devices, Phones */
@media(min-width:480px) {

  .stat {

    i {
      font-size: 4.5em;
    }

    h2 {
      font-size: 3em;
    }

    h4 {
      font-size: 1.5em;
    }
  }

  .section-heading {
    font-size: 2em;
  }
}
