//STATS
.stats-container {
  background: rgba(0,0,0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 36px;
}

.stats-claim-container {
  margin-bottom: 36px;
  h1 {color: #fff; margin-top:0; margin-bottom: 0; font-weight: 600;}
}

.stats-claim-subtitle {
  img {
    display: none;
  }

  span {
    vertical-align: bottom;
    line-height: 33px;
    margin-left: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.stat {
  color:#fff;
  margin-bottom: 28px;
}

.stat-label-icon {
  vertical-align: middle;
}

.stat-label-text {
  vertical-align: middle;
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  padding-left:6px;
}

.stat-count {
  font-size: 22px;
  font-weight: 300;
}


// Responsive adjustments
// Smart-phone Landscape
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .stats-claim-container {
    margin-top: 0;
  }
}

// From tablet and above
@media (min-width: $screen-sm-min) {
  .stats-container {
    padding: 36px;
  }

  .stats-container-main-row, .stats-container-main-cols {
    height: 100%;
    max-width: 750px;
    margin: auto;
  }

  .stats-claim-container {
    position: relative;
    top: 50%;
    margin-top: -64px;

    h1 { font-size: 58px; margin-bottom: 16px}
  }

  .stats-claim-subtitle {
    img {
      display: inline-block;
      width: 34px;
      margin-left: 6px;
    }

    span {
      font-size: 16px;
    }
  }

  .stats-labels-main-row {
    margin-top: 58px;
  }
}

// From Desktop and above
@media (min-width: $screen-md-min) {
  .stats-container-main-cols, .stats-container-main-row {
      max-width: 970px;
  }

  .stats-claim-container {
    margin-top: -88px;
    h1 { font-size: 88px }
  }

  .stats-claim-subtitle {
    span {
      font-size: 22px;
    }
  }
}

@media (min-width: $screen-lg-min) {
    .stats-container-main-cols, .stats-container-main-row {
        max-width: 1170px;
    }
  }
