// Import bootstrap styles: TODO... maybe import only basic and really required modules not the entire huge pack
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Import font-awesome
@import '../node_modules/font-awesome/scss/font-awesome';

@import 'components/app';
@import 'components/inpage-nav/inpage-nav.scss';
@import 'components/welcome/welcome';
@import 'components/stats/stats';
@import 'components/repos/repos';
