//REPOS
.repos{
  width: 100%;
  background-color: #e4e4e4;
}

//FILTER BAR
.filter-bar {
  margin:20px;

  .btn {
    border-radius: 0px;
    border-width: 2px;
    border-color: black;
    color: black;
    margin:7px;
    background-color: transparent;

    &.active {
      background-color: white;
      border-color: white;
      color: black;
      box-shadow:none;
    }

    &:focus {
      outline: 0 none;
      border-color: none;
    }

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.other-btn {
  border-color: #999999 !important;
  color: #999999 !important;
  &.active {
    background-color: #999999 !important;
    color: white !important;
    box-shadow:none;
  }
}

.panel {
  border-radius: 0px;
}

//REPOSITORY LIST ITEM
.panel-heading{
  a:hover{
    text-decoration: underline;
  }
}

.panel-default {
  border: 1px solid transparent;
}

.panel-body {
  text-decoration: none;
  color:dimgray;

  &:hover{
    text-decoration: none;
  }
}

.language {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.description {
  min-height: 53px;
  max-height: 53px;
  line-height: 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
