//REPOS SECTION
.repos{
  width: 100%;
  background-color: $repos-section-background;
}

//FILTER BAR
.filter-bar {
  margin:28px;

  .btn {
    border-radius: 0px;
    border-width: 2px;
    border-color: $light-gray;
    font-weight: 700;
    color: $light-gray;
    margin:7px;
    background-color: transparent;

    &.active {
      background-color: $light-gray;
      color: white ;
      box-shadow: none;
    }

    &:focus {
      outline: 0 none;
      border-color: none;
    }

    &:hover {
      background-color: white;
      color:$light-gray;
    }
  }
}

.other-btn {
  border-color: #999999 !important;
  color: #999999 !important;
  &.active {
    background-color: #999999 !important;
    color: white !important;
    box-shadow:none;
  }
}


//REPOSITORY LIST ITEM
.panel-default {
  border: 1px solid transparent;
  border-radius: 0px;
}

.panel-heading {
  color:$zalando-darken-grey;
  font-weight: 600;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-body {
  color:$zalando-dark-grey;
}

.repo-item-box {
  display: block;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    transform: scale(1.02,1.02);
    transition: all .2s ease-in-out;
  }

  &:focus, &:visited{
    text-decoration: none;
    outline: none;
  }

  &:hover .panel-heading {
    text-decoration: underline;
  }
}

.repo-item-language {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.repo-item-description {
  min-height: 53px;
  max-height: 53px;
  line-height: 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.repo-item-icon{
  font-size: 1.3rem;
  color: $light-gray;
  display: inline;
}

.repo-item-icon-detail {
  display: block;
}

