//REPOS
.repos{
  width: 100%;
  background-color: #eeeeee;
}

//FILTER BAR
.filter-bar {
  margin:20px;
  .btn {
    border-radius: 0px;
    border-width: 0px;
    color: dimgray;
    margin: 0 4px 4px 0;
    background-color: transparent;

    &.active {
      background-color: transparent;
      border-bottom: 2px solid $zalando-orange;
    }

    &:focus {
      outline: none;
    }
  }
}


.panel {
  border-radius: 0px;
}

//REPOSITORY LIST ITEM
.panel-heading{
  a:hover{
    text-decoration: underline;
  }
}

.panel-default {
  border: 1px solid transparent;
}

.panel-body {
  text-decoration: none;
  color:dimgray;

  &:hover{
    text-decoration: none;
  }
}

.language {
  text-transform: uppercase;
  font-size: 0.7em;
}
